<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Grunt－陈晓迪的博客</title>
	<meta name="keywords" content="Grunt 配置步骤 package.json Gruntfile－陈晓迪的博客"/>
	<meta name="description" content="Git SSH Key 配置步骤 如何在一个电脑上同时使用两个Git账号" />
	<meta name = "format-detection" content = "telephone=no"> 
	<link rel="stylesheet" type="text/css" href="css/blog.css">
</head>
<body>
	<script type="text/javascript">
		var require = {urlArgs: "v=@@timestamp"}
		var nowPage="grunt"
	</script>
	<script type="text/javascript" src="lib/require.min.js" data-main="js/blog.min"></script>
	<script>
		require.config({
	　　　　　　baseUrl: "js/",
			   paths: {
	　　　　　　    "zepto": "../lib/zepto.min"
	　　　　    }
	　　    });
	</script>
	<div class="content">
		<h1 class="title">Grunt</h1>
		<p class="mes">Grunt是JavaScript世界的构建工具,为何要用构建工具？一句话：自动化。对于需要反复重复的任务，例如压缩（minification）、编译、单元测试、linting等，自动化工具可以减轻你的劳动，简化你的工作。</p>
		<p class="titleFont">准备一份新的Grunt项目步骤</p>
		<p>一般需要在你的项目中添加两份文件：package.json 和 Gruntfile。</p>
		<p>package.json: 此文件被npm用于存储项目的元数据，以便将此项目发布为npm模块。例如：</p>
		<pre>
		{
		  "name": "my-project-name",
		  "version": "0.1.0",
		  "devDependencies": {
		    "grunt": "~0.4.5",
		    "grunt-contrib-jshint": "~0.10.0",
		    "grunt-contrib-nodeunit": "~0.4.1",
		    "grunt-contrib-uglify": "~0.5.0"
		  }
		}
		</pre>
		<p>Gruntfile: 此文件被命名为 Gruntfile.js 或 Gruntfile.coffee，用来配置或定义任务（task）并加载Grunt插件的。例如： <p>
<pre>
module.exports = function(grunt) {

  // Project configuration.
  grunt.initConfig({
    pkg: grunt.file.readJSON('package.json'),
    uglify: {
      options: {
        banner: '/*!<%= grunt.template.today("yyyy-mm-dd") %> */\n'
      },
      build: {
        src: 'src/<%= pkg.name %>.js',
        dest: 'build/<%= pkg.name %>.min.js'
      }
    }
  });

  // 加载包含 "uglify" 任务的插件。
  grunt.loadNpmTasks('grunt-contrib-uglify');

  // 默认被执行的任务列表。
  grunt.registerTask('default', ['uglify']);

};
</pre>
		<p>该任务中执行了uglify（压缩）</p>
		<p>经常用到的任务有clean、concat、uglify、cssmin、includereplace、copy、replace、watch，代码如下：</p>
		<pre>
			module.exports = function(grunt) {

  'use strict';
  grunt.initConfig({
    pkg: grunt.file.readJSON('package.json'),
    banner: '/*!<%= grunt.template.today("yyyy-mm-dd") %> */\n',
    clean: {
      css: {
        src: ['h5/css/*']
      },
      js:{
        src: ['h5/js/*']
      },
      js:{
        src: ['h5/*.html']
      }
    },
    concat : {
        build: {
          src: [
              'js/blog.js'
            ],
            dest: "h5/js/blog.js"
        },
        css : {
            src: [
              'css/blog.css'
            ],
          dest:'h5/css/blog.css'
        }
    },
    uglify: {
      options: {
        banner: '/*!<%= grunt.template.today("yyyy-mm-dd") %> */\n'
      },
      bulid: {
        files: [
        {
          "h5/js/blog.min.js": ['h5/js/blog.js']
        },
        ],
      }
    },
    cssmin: {
      options: {
        banner: '/*!<%= grunt.template.today("yyyy-mm-dd") %> */\n',
        beautify: {
          ascii_only: true
        }       
      },
      build: {
        files: [{
          "h5/css/blog.min.css": ['h5/css/blog.css']
        }]
      }
    },
    includereplace: {
        compile: {
          expand: true,
          src: '*.html',
          dest: 'h5/'
      }
    },
    copy: {
        main: {
          files: [
            {expand:true,src:['lib/*'],dest:'h5/',filter:'isFile'},
            {expand:true,src:['images/*'],dest:'h5/',filter:'isFile'}
          ]
        }
    },
    replace: {
        dist: {
          options: {
            patterns: [
              {
                match: 'timestamp',
                replacement: '<%= new Date().getTime() %>'
              },
              {
                match: 'fileAddress',
                replacement: ''
              }
            ]
          },
          files: [
            {expand: true, flatten:true,src:['h5/*.html'],dest:'h5/'}
          ]
        }
    },
    watch:{
      html:{
        files:['html_modules/*.html','*.html'],
        tasks:['clean','concat','uglify','cssmin','includereplace','replace','copy']
      }
    } 
});
  grunt.loadNpmTasks('grunt-contrib-clean');
  grunt.loadNpmTasks('grunt-contrib-concat');
  grunt.loadNpmTasks('grunt-contrib-uglify');
  grunt.loadNpmTasks('grunt-contrib-cssmin');
  grunt.loadNpmTasks('grunt-contrib-requirejs');
  grunt.loadNpmTasks('grunt-include-replace');
  grunt.loadNpmTasks('grunt-replace');
  grunt.loadNpmTasks('grunt-contrib-imagemin');
  grunt.loadNpmTasks('grunt-contrib-copy');
  grunt.loadNpmTasks('grunt-contrib-watch');

  // Default task.
  grunt.registerTask('default', ['clean','concat','uglify','cssmin','includereplace','replace','copy','watch']);

};
</pre>
		<p>与之对应的package.json为：</p>
<pre>
{
  "name": "pcreader",
  "version": "1.0.0",
  "description": "陈晓迪的博客项目脚手架",
  "author": "liyan",
  "license": "MIT",
  "engines": {
    "node": ">= 0.10.0"
  },
  "devDependencies": {
    "grunt": "^0.4.5",
    "grunt-contrib-clean": "^0.6.0",
    "grunt-contrib-cssmin": "^0.12.2",
    "grunt-contrib-jshint": "~0.10.0",
    "grunt-contrib-less": "~1.0.0",
    "grunt-contrib-requirejs": "~0.4.1",
    "grunt-contrib-uglify": "~0.5.0",
    "grunt-contrib-concat": "~0.5.1",
    "grunt-contrib-watch": "~0.6.1",
    "grunt-include-replace": "^3.0.0",
    "grunt-css-sprite": "^0.2.2",
    "grunt-contrib-imagemin": "~0.9.4",
    "grunt-contrib-copy": "~v0.8.0",
    "grunt-replace": "~v0.7.9"
  }
}
</pre>
		<p class="mes">tips:watch任务可以实时监控修改了哪些文件，然后执行自定义任务，这样就不用每次修改了文件以后都手动打包。</p>
		<p>package.json 和 Gruntfile都配置好了，接下来就需要执行两个命令：</p>
		<p>npm install 该命令会把package.json里的依赖都下载到本地node_modules文件夹里</p>
		<p>grunt 该命令就是自动化编译打包压缩的命令</p>
		<p class="titleFont">已经有一份配置好package.json 和 Gruntfile 文件的项目？</p>
		<p>我们经常从github上下载源码的时候，是已经把package.json 和 Gruntfile 配置好了的，这时我们只需要npm install下载依赖，然后grunt自动化打包</p>
		<p>具体项目可以参照<a href="https://github.com/h5blog/blog">本博客的源码</a></p>
	</div>
	<div class="pagelist">@@include('html_modules/list.html')</div>
</body>
</html>